// ==================================
// SCSS/COMPONENTS/_SPACING.SCSS
// ==================================

/* Component: Spacing */
.mbn {
  margin-bottom: 0 !important;
}

.mtn {
  margin-top: 0 !important;
}

.man {
  margin: 0 !important;
}