/* Customs Fonts */
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue-webfont.eot");
  src: url("../fonts/bebasneue-webfont.eot?#iefix") format("eot"), url("../fonts/bebasneue-webfont.woff") format("woff"), url("../fonts/bebasneue-webfont.ttf") format("truetype"), url("../fonts/bebasneue-webfont.svg#webfontX0YNjQNl") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Open Sans", Helvetica, Arial, Sans-serif;
  line-height: 1.71429;
  font-weight: 400;
  color: #212121;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  background-image: url("../images/bg.png");
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

strong {
  font-weight: 700;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input, textarea {
  font-family: "Open Sans", Helvetica, Arial, Sans-serif;
}

input[type="submit"] {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1.75em 0px;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

p {
  margin: 0 0 1.07143em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #222222;
  font-family: "Bebas Neue", Helvetica, Arial, Sans-serif;
  line-height: 1.28571;
  font-weight: 400;
  margin: 1.25em 0 0.2em;
}

h1, .h1 {
  font-size: 392%;
}

h2, .h2 {
  font-size: 283%;
}

h3, .h3 {
  font-size: 214%;
}

h4, .h4 {
  font-size: 180%;
}

h5, .h5 {
  font-size: 150%;
}

h6, h6 {
  font-size: 135%;
}

ul, ol {
  margin: 0 0 1.07143em;
  margin-left: 35px;
}
ul ul, ul ol, ol ul, ol ol {
  margin: 0.5em 0 0.5em 25px;
}

iframe {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

blockquote {
  margin: 1.313em 0 1.313em 35px;
}

a {
  color: #ae1d2e;
  text-decoration: none;
}
a:hover {
  color: #8b1725;
}
a:hover img {
  opacity: 0.85;
}

.w-container {
  max-width: 964px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.w-container--header {
  max-width: 1054px;
}

.w-container, .w-row, .w-logo, .w-dyn {
  *zoom: 1;
}
.w-container:before, .w-row:before, .w-logo:before, .w-dyn:before, .w-container:after, .w-row:after, .w-logo:after, .w-dyn:after {
  content: " ";
  display: table;
}
.w-container:after, .w-row:after, .w-logo:after, .w-dyn:after {
  clear: both;
}

a img, .w-navbar__btn, .w-navbar__btn--active, .w-form__field:hover, .w-form__field:focus, .w-form__field:active, .w-button {
  transition: 0.25s all ease-in-out;
}

.w-navbar__btn-text, .visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* Header */
/* ========================= */
.w-header {
  position: relative;
  background-color: #ae1d2e;
  border-bottom: 4px solid #3f4245;
  padding: 20px 0 15px;
  line-height: 1;
  color: #fff;
}

.w-navbar__btn {
  height: 40px;
  width: 45px;
  padding: 12px 12px;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}
.w-navbar__btn-line {
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 4px;
  background-color: #9A9A9A;
}
.w-navbar__btn-line--first {
  margin-top: 0;
}
.w-navbar__btn:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
.w-navbar__btn--active, .w-navbar__btn--active:hover {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.23);
}
@media screen and (min-width: 992px) {
  .w-navbar__btn {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .w-navbar {
    text-align: center;
    margin-top: 20px;
  }
}

.banner {
  position: relative;
}
.banner__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 297px;
}
.banner__inner {
  margin-bottom: 0;
}
.banner--home .banner__image {
  height: 510px;
}
@media screen and (max-width: 991px) {
  .banner__image {
    height: 0;
    padding-bottom: 56.6%;
  }
}

/* Main */
/* ========================= */
.w-main--has-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-content {
  float: left;
  width: 70%;
  padding: 25px 35px 0 0;
}
.w-content--is-left {
  float: left;
}
.w-content--is-right {
  float: right;
}
.w-content--is-full {
  width: 100%;
  float: none;
  padding: 0;
}

/* Footer */
/* ========================= */
.w-footer {
  padding: 25px 0;
  color: #fff;
  background-color: #212121;
}
.w-footer__text, .w-footer__phone {
  font-family: "Bebas Neue", Helvetica, Arial, Sans-serif;
  margin: 0;
}
.w-footer__text {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.25;
}
.w-footer__phone {
  margin-top: 10px;
  line-height: 1;
  color: #c02638;
  font-size: 35px;
  font-size: 3.5rem;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 768px) {
  .w-footer__text, .w-footer__phone {
    font-family: "Bebas Neue", Helvetica, Arial, Sans-serif;
    float: left;
    margin: 0;
  }
  .w-footer__text {
    font-size: 24px;
    font-size: 2.4rem;
    width: 71.73448%;
  }
  .w-footer__phone {
    width: 28.26552%;
    font-size: 48px;
    font-size: 4.8rem;
    text-align: right;
  }
}

/* Component: Spacing */
.mbn {
  margin-bottom: 0 !important;
}

.mtn {
  margin-top: 0 !important;
}

.man {
  margin: 0 !important;
}

/* Component: Utility */
.text-align--left {
  text-align: left;
}
.text-align--center {
  text-align: center;
}
.text-align--right {
  text-align: right;
}

.alignright {
  float: right;
  margin: 0 0 25px 35px;
}

.alignleft {
  float: left;
  margin: 0 35px 25px 0;
}

/* Visibility */
/* Component: Form */
.w-form__field {
  background-color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: top;
  color: #212121;
  padding: 11px 15px;
  border: none;
  text-align: center;
  display: block;
  width: 100%;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.75);
}
.w-form__field::-webkit-input-placeholder {
  color: #959595;
}
.w-form__field::-moz-placeholder {
  color: #959595;
}
.w-form__field:-moz-placeholder {
  color: #959595;
}
.w-form__field:-ms-input-placeholder {
  color: #959595;
}
.w-form__field:hover, .w-form__field:focus, .w-form__field:active {
  outline: none;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.85);
}
.w-form__submit {
  text-transform: uppercase;
  margin-top: 7px;
  cursor: pointer;
  width: 100%;
  display: block;
}
.w-form__group {
  margin: 7px 0 0;
}
.w-form__group--first, .w-form__group--submit, .w-form__group:first-child {
  margin-top: 0;
}
.w-form--horizontal .form__field {
  width: 100%;
}
.w-form--inline .form__group {
  display: inline-block;
  margin-bottom: 0;
}

/* Component: Grids */
.w-row {
  margin-left: -11px;
  margin-right: -11px;
  margin-bottom: 11px;
}
.w-row__column {
  float: left;
  padding-left: 11px;
  padding-right: 11px;
}
.w-row__column--one {
  width: 8.33333%;
}
.w-row__column--two {
  width: 16.66667%;
}
.w-row__column--three {
  width: 25%;
}
.w-row__column--four {
  width: 33.33333%;
}
.w-row__column--five {
  width: 41.66667%;
}
.w-row__column--six {
  width: 50%;
}
.w-row__column--seven {
  width: 58.33333%;
}
.w-row__column--eight {
  width: 66.66667%;
}
.w-row__column--nine {
  width: 75%;
}
.w-row__column--ten {
  width: 83.33333%;
}
.w-row__column--eleven {
  width: 91.66667%;
}
.w-row__column--twelve {
  width: 100%;
}

/* Component: Buttons */
.w-button {
  color: #ae1d2e;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 0px;
  border: none;
  padding: 10px 20px;
  display: inline-block;
}
.w-button--primary {
  color: #fff;
  background-color: #ae1d2e;
}
.w-button--primary:hover, .w-button--primary:focus {
  outline: none;
  color: #fff;
  background-color: #8b1725;
}

/* Component: HR */
.w-hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1.75em 0px;
}
.w-hr--primary {
  background-color: #ae1d2e;
}
.w-hr--secondary {
  background-color: #dc047b;
}
.w-hr--dark {
  background-color: #3f4245;
}

/* Component: Headlines */
.w-headline--color-primary {
  color: #ae1d2e;
}

/* Component: Blockquote */
.w-blockquote {
  font-weight: 600;
  color: #ae1d2e;
  border: none;
  padding: 0;
  background-color: transparent;
  font-style: italic;
  font-size: 16px;
  font-size: 1.6rem;
}
.w-blockquote__quote:before {
  content: '" ';
}
.w-blockquote__quote:after {
  content: ' "';
}

/* Component: List */
.w-list--unstyled {
  list-style: none;
  margin: 0 0 15px;
}
.w-list--inline {
  display: inline-block;
}
.w-list--tick {
  padding: 0;
  margin-left: 0;
}
.w-list--tick .w-list__item {
  list-style: none;
  padding-left: 20px;
  background: transparent url("../images/tick.png") no-repeat left 6px;
}
.w-list--bullets {
  margin-left: 0;
}
.w-list--bullets .w-list__item {
  background: transparent url("../images/bullet-red.png") no-repeat 4px 9px;
  padding-left: 21px;
  list-style: none;
}

/* Component: Logo */
.w-logo {
  color: #fff;
  margin: 0;
  line-height: 0.9;
  font-size: 40px;
  font-size: 4rem;
}
@media screen and (min-width: 1061px) {
  .w-logo {
    font-size: 62px;
    font-size: 6.2rem;
  }
  .w-logo span {
    vertical-align: middle;
  }
  .w-logo__small {
    font-size: 43px;
    font-size: 4.3rem;
  }
  .w-logo__large {
    font-size: 112px;
    font-size: 11.2rem;
  }
  .w-logo__left {
    width: 33.49609%;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
    float: left;
    line-height: 0.76;
  }
  .w-logo__right {
    width: 66.30859%;
    position: relative;
    padding-left: 40px;
    float: right;
  }
  .w-logo__rotated {
    font-size: 55px;
    font-size: 5.5rem;
    position: absolute;
    top: 25px;
    left: -23px;
    -webkit-transform: scale(1) rotate(-90deg);
    -ms-transform: scale(1) rotate(-90deg);
    transform: scale(1) rotate(-90deg);
    display: block;
  }
}
@media screen and (max-width: 1060px) {
  .w-logo {
    text-align: center;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.025em;
  }
}
@media screen and (max-width: 1060px) and (min-width: 768px) {
  .w-logo {
    font-size: 60px;
    font-size: 6rem;
  }
}

/* Component: Did You Know & Text */
.w-dyn-text__headline {
  margin-top: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .w-dyn-text__headline {
    text-align: right;
  }
  .w-dyn-text__dyn, .w-dyn-text__text {
    float: left;
  }
  .w-dyn-text__dyn {
    width: 24.62527%;
  }
  .w-dyn-text__text {
    width: 75.37473%;
    padding-left: 23px;
  }
}

/* Component: DYN */
.w-dyn {
  margin: 0 0 10px;
  padding: 0;
}
.w-dyn__item {
  display: block;
  height: 45px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
  min-height: 45px;
  background-color: #fff;
  text-align: center;
  width: 48%;
  margin-left: 4%;
  margin-bottom: 6px;
  list-style: none;
  float: left;
  padding: 2px 5px;
}
.w-dyn__item:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.w-dyn__item:nth-child(2n+1) {
  margin-left: 0;
}
.w-dyn__link {
  vertical-align: middle;
  display: inline-block;
  max-width: 93%;
}
.w-dyn__img {
  vertical-align: middle;
  max-width: 100%;
}

/* Component: Text Form */
.w-text-form {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .w-text-form__text, .w-text-form__form {
    float: left;
  }
  .w-text-form__text {
    width: 57.81585%;
    padding-right: 20px;
  }
  .w-text-form__form {
    width: 42.18415%;
  }
}

/* Component: Download Form */
.w-download-form {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
  padding: 0 10px 14px;
}
.w-download-form__headline {
  border: 1px solid #ae1d2e;
  padding: 8px 4px;
  text-align: center;
  margin: 0px -10px 11px;
}
@media screen and (min-width: 768px) {
  .w-download-form__form {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .w-content {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 767px) {
  h2, .h2 {
    font-size: 223%;
  }

  h3, .h3 {
    font-size: 174%;
  }
}
